.footer {
  width: 100%;
  // height: 500px;
  background-color: $bg;
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .center-container {
      display: flex;
      margin: 50px auto;
      width: 100%;
      padding: 0 30px;
      .list-wrapper {
        // width: 30%;
        display: flex;
        flex-direction: column;
        margin-right: 20%;
        .heading {
          font-size: 1.2rem;
          font-weight: 600;
          color: $white;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
        ul {
          display: flex;
          flex-direction: column;
          li {
            list-style: none;
            margin-bottom: 10px;
            a,
            p {
              text-decoration: none;
              font-size: 1rem;
              font-weight: 400;
              color: $textMed;
              word-break: break-all;
            }
            a {
              cursor: pointer;
            }
            a:hover {
              color: $purple;
            }
            .footer-active-link {
              color: $purple;
              font-weight: 500;
            }
          }
        }
        .social-container {
          width: 100%;
          display: flex;
          margin-top: 50px;
          a {
            width: 35px;
            height: 35px;
            margin-right: 20px;
            cursor: pointer;
            transition: 0.2s;
            img {
              width: 100%;
            }
          }
          a:active {
            transform: scale(0.9);
          }
        }
      }
    }
    .smallprint {
      width: 100%;
      height: 40px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 0 30px;
      display: flex;
      p {
        font-size: 1rem;
        color: $textMed;
      }
      .push-right {
        margin-left: auto;
        .highlight {
          color: $white;
          text-decoration: none;
        }
        .highlight:hover {
          color: $purple;
        }
      }
    }
  }
}

@media (max-width: 460px) {
  .footer {
    .wrapper {
      .center-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
        padding-left: 10%;
        .list-wrapper {
          margin-right: 0;
          margin-bottom: 25px;
          max-width: 100%;
        }
        #contact-list {
          grid-column-start: 1;
          grid-column-end: 3;
          width: 100%;
          .social-container {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .smallprint {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
        .push-right {
          margin: 0;
          margin-top: 5px;
        }
      }
    }
  }
}

@media (min-width: 461px) and (max-width: 610px) {
  .footer {
    .wrapper {
      .center-container {
        padding-left: 10%;
        .list-wrapper {
          margin-right: 10%;
        }
      }
      .smallprint {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        .push-right {
          margin: 0;
          margin-top: 5px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .footer {
    .wrapper {
      width: 100%;
    }
  }
}
