.booking-container {
  background-color: $bg;
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    padding-top: 50px;
    color: $white;
    display: flex;
    .text-wrapper,
    .form-wrapper {
      width: 50%;
      padding: 30px;
      h4 {
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      .booking-info-p {
        font-size: 1.2rem;
        line-height: 22px;;
      }
      p {
        font-size: 1rem;
        font-weight: 400;
        color: $textMed;
        margin-bottom: 50px;
      }
      .sub-heading {
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
        margin-bottom: 25px;
      }
      .p-wrapper {
        display: flex;
        height: 50px;
        align-items: center;
        .img-wrapper {
          width: 40px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 60%;
          }
          .email-icon {
            width: 50%;
          }
        }
        p {
          margin: auto 0;
          word-break: break-all;
        }
      }
    }
    .form-wrapper {
      padding-top: 100px;
      .sub-heading {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 25px;
      }
      form {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .input-wrapper {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;

          label {
            font-size: 1rem;
            font-weight: 400;
            color: $textMed;
            margin-bottom: 7px;
            margin-left: 5px;
          }
          input,
          textarea {
            width: 100%;
            background: none;
            border: 1px $white solid;
            border-radius: 2px;
            outline: none;
            padding: 8px 5px;
            font-family: $font;
            font-size: 1.1rem;
            color: $white;
          }
          textarea {
            height: 150px;
            resize: none;
          }
          input::placeholder {
            color: $textMed;
            opacity: 0.6;
          }
          textarea::placeholder {
            color: $textMed;
            opacity: 0.6;
          }
        }
        #submit-btn {
          outline: none;
          border: none;
          background-color: $purple;
          width: 180px;
          margin-top: 15px;
          margin-left: auto;
          text-align: center;
          text-decoration: none;
          border-radius: 2px;
          position: relative;
          overflow: hidden;
          font-family: $font;
          cursor: pointer;
          p {
            position: relative;
            color: $white;
            font-size: 1rem;
            font-weight: 400;
            margin: 10px 0;
            z-index: 2;
          }
        }
        #submit-btn:hover {
          p {
            color: $purple;
            font-weight: 500;
          }
          .btn-bg {
            min-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .booking-container .wrapper .form-wrapper form #submit-btn {
    margin: 15px auto;
  }
}

@media (max-width: 700px) {
  .booking-container {
    .wrapper {
      flex-direction: column;

      .text-wrapper,
      .form-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 0;
      }
      .form-wrapper {
        // width: 90%;
        padding: 0;
        margin-top: 50px;
        .sub-heading {
          width: 100%;
        }
        form {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .booking-container {
    .wrapper {
      width: 100%;
    }
  }
}
