.whatson-container {
  width: 1100px;
  margin: 80px auto;
  margin-bottom: 100px;
  h5 {
    font-size: 2.2rem;
    font-weight: 800;
    margin: 50px auto;
    text-align: center;
    text-transform: uppercase;
  }
  .carousel-wrapper {
    width: 80%;
    height: 220px;
    margin: 0 auto;
    margin-top: 80px;
    li {
      width: 550px;
      height: 220px;
      display: flex;
      .img-wrapper {
        width: 45%;
        height: 100%;
        background-color: $bg;
        position: relative;
        img {
           width: 100%;
           height: 100%;
           border-radius: 2px;
        }
        .date-con {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); 
          width: 50%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $bg;
          border-radius: 2px;
          p {
            font-size: 1.5rem;
            font-weight: 500;
            color: $white;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
      .text-wrapper {
        width: 50%;
        margin-left: auto;
        .whatson-title {
          font-size: 1.3rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 5px;
        }
        .whatson-subtitle {
          font-size: 1.1rem;
          font-weight:400;
          margin-bottom: 15px;
        }
        p {
          font-size: 1.2rem;
          font-weight: 700;
        }
        button {
          background-color: $purple;
          padding: 10px 25px;
          border: $purple solid 2px;
          margin-top: 25px;
          border-radius: 2px;
          position: relative;
          outline: none;
          cursor: pointer;
          p {
            position: relative;
            font-family: $font;
            font-size: 1rem;
            font-weight: 400;
            color: $white;
          }
        }
        button:hover {
          p {
            color: $purple;
          }
          .btn-bg {
            min-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .whatson-container {
    width: 100%;
    h5 {
      width: 80%;
      text-align: left;
    }
    .carousel-wrapper {
      height: 100%;
      margin-top: 0;
      li {
        flex-direction: column;
        width: 80%;
        height: 100%;
        .img-wrapper {
          width: 100%;
          .date-con {
            width: 60%;
          }
        }
        .text-wrapper {
          width: 100%;;
          margin: 0;
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          button {
             margin: 25px auto;
          }
        }
      }
    }
  }
}


@media (min-width: 361px) and (max-width: 600px) {
  .whatson-container {
    width: 100%;
    .carousel-wrapper {
      height: 100%;
      li {
        flex-direction: column;
        width: 80%;
        height: 100%;
        .img-wrapper {
          width: 200px;
          // margin: 0 auto;
          .date-con {
            width: 60%;
          }
        }
        .text-wrapper {
          width: 100%;;
       
          margin-top: 25px;
        }
      }
    }
  }
}
@media (min-width: 601px) and (max-width: 1100px) {
  .whatson-container {
    width: 100%;
    .carousel-wrapper {
      li {
        width: 400px;
        height: 150px;
        .img-wrapper {
          width: 200px;
          // margin: 0 auto;
          .date-con {
            width: 60%;
          }
        }
        .text-wrapper {
          margin-left: 25px;
        }
      }
    }
  }
}