.contact-container {
  width: 500px;
  // height: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 50;
  border-radius: 3px;
  box-shadow: 3px 6px 30px rgba(0, 0, 0, 0.18);
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 30px
  }
  form {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    .input-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 15px;
      label {
        font-family: $font;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 5px;
        color: $text;
        padding-left: 10px;
      }
      input,
      textarea {
        background-color: none;
        border: none;
        outline: none;
        background: none;
        border-radius: 0;
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 500;
        color: $text;
        padding: 10px;
        border-bottom: #ebebeb 2px solid;
      }
      textarea {
        height: 100px;
        resize: none;
      }
      input:focus {
        border-bottom: $purple 2px solid;
      }
      input::placeholder, textarea::placeholder{
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 400;
        color: $textMed;
      }
    }
    input[type="submit"] {
      border: none;
      outline: none;
      border-radius: 2px;
      padding: 5px 10px;
      background-color: $purple;
      font-family: $font;
      font-size: 1rem;
      font-weight: 400;
      text-transform: capitalize;
      color: $white;
      cursor: pointer;
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40px;
      transition: 0.2s;
    }
    input[type="submit"]:hover {
      box-shadow: 0px 0px 40px rgba(145, 32, 112, 0.18);
    }
    input[type="submit"]:active {
      transform : scale(0.9);
    }
  }
  .cancel-btn {
    background:none;
    border: none;
    outline: none;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 40px;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 600;
    color: $text;
    cursor: pointer;
    border-radius: 2px;
  }
  .cancel-btn:hover {
    box-shadow: 0px 0px 40px rgba(145, 32, 112, 0.18);
  }
  .cancel-btn:active {
    transform : scale(0.9);
  }
}
