$bg: #0f110d;
$text: #16161a;
$textMed: #b4b5b3;
$white: #fcfcfc;
$purple: #912070;
// $purple: #5F03BA;
// $font: "Work Sans", sans-serif;
$font: 'Karla', sans-serif;

@import "./sass/main";
@import "./sass/header";
@import "./sass/home/landing";
@import "./sass/home/bio";
@import "./sass/home/menuSelection";
@import "./sass/home/booking";
@import "./sass/home/homegallery";
@import "./sass/home/information";
@import "./sass/home/whatsOn";
@import "./sass/home/map";
@import "./sass/menus/menus";
@import "./sass/gallery/gallery";
@import "./sass/galleryPopup";
@import "./sass/contact/contact";
@import "./sass/footer";
@import "./sass/404/notFound";
