.gallery-container {
  width: 100%;
  background-color: $bg;
  .wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 70px 0;
    h3 {
      font-size: 2.2rem;
      color: $white;
      text-transform: uppercase;
      text-align: center;
      margin: 50px auto;
    }
    .gallery-grid {
      margin-top: 50px;
      position: relative;
      width: 100%;
      line-height: 0;
      -webkit-column-count: 5;
      -webkit-column-gap: 15px;
      -moz-column-count: 5;
      -moz-column-gap: 15px;
      column-count: 5;
      column-gap: 15px;
    }
  }
}
.gallery-image {
  width: 100% !important;
  height: auto !important;
  position: relative;
  margin-bottom: 15px;
  .img-placeholder {
    width: 100%;
    height: 100%;
    background-color: $purple;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .img-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 17, 13, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.4s;
    z-index: 3;
    .gallery-link {
      margin: 0;
      z-index: 3;
      border: none;
      outline: none;
      padding: 10px;
      border: 2px $purple solid;
      background-color: $purple;
      overflow: hidden;
      cursor: pointer;
      p {
        position: relative;
        color: $white;
        font-family: $font;
        margin: 0;
      }
    }
  }
  .img-hover:hover {
    opacity: 1;
  }
  img {
    // object-fit: cover;
    position: relative;
    width: 100% !important;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
.img-wrapper:hover {
  .img-hover {
    opacity: 1;
  }
}

@media (max-width: 350px) {
  .gallery-container {
    .wrapper {
      .gallery-grid {
        -webkit-column-count: 2;
        -webkit-column-gap: 10px;
        -moz-column-count: 2;
        -moz-column-gap: 10px;
        column-count: 2;
        column-gap: 10px;
        .gallery-image {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 351px) and (max-width: 650px) {
  .gallery-container {
    .wrapper {
      .gallery-grid {
        -webkit-column-count: 3;
        -webkit-column-gap: 10px;
        -moz-column-count: 3;
        -moz-column-gap: 10px;
        column-count: 3;
        column-gap: 10px;
        .gallery-image {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 651px) and (max-width: 1000px) {
  .gallery-container {
    .wrapper {
      .gallery-grid {
        -webkit-column-count: 4;
        -webkit-column-gap: 10px;
        -moz-column-count: 4;
        -moz-column-gap: 10px;
        column-count: 4;
        column-gap: 10px;
        .gallery-image {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .gallery-container {
    .wrapper {
      width: 100%;
      padding: 70px 10%;
    }
  }
}
